body{
    background-color: bisque;
}
h1{
    text-align: center;
}
.formzin{
    display: flex;
    text-align: center;
    justify-content: center;
    
    }
#form1{
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 2%;
    max-width: 50%;
    width: 500px;
}
.select-diff{
    text-align: start;
    margin-left: 28%;
}
.btnstart{
    background-color: rgb(71, 12, 12);
    color: white;
    border: none;
    min-width: 90%;
    padding: 2%;
    border-radius: 10px;
}
.btnstart:hover{
    background-color: rgb(121, 30, 30);
    cursor: pointer;
}

#board{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 400px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.cell{
    border: 1px solid black;
    height: 40px;
    background-color: rgb(121, 30, 30);
}
.cell:hover{
    background-color: rgb(71, 12, 12);
    cursor: pointer;
}
.containerJogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 2%;
    max-width: 60%;
}

.jogo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.acertou{
    background-color: rgb(12, 247, 12);
}
.errou{
    background-color: lightblue;
}
.cell.acertou:hover {
     background-color: rgb(12, 247, 12); 
    }
.cell.errou:hover { 
    background-color: lightblue; 
}
 #timer{
    background-color: rgb(121, 30, 30);
    color: white;
    border-radius: 10px;
    padding: 2%;
 }
 .modal {
    display: none   ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
 }
 .visivel {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .modal-conteudo {
    background-color: bisque;
    border-radius: 10px;
    padding: 4%;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
 }
 #btnTentarNovamente{
    border: none;
    background-color: red;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2%;
    width: 70%;
 }
 #btnVerRanking{
    border: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2%;
    width: 70%;
    margin-top: 5%;
 }
 #btnVerRanking:hover{
    background-color: rgb(69, 69, 246);
    color: white;
 }
 #btnTentarNovamente:hover{
    background-color: rgb(88, 0, 0);
 }